.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 24px;
}

.left, .right {
    display: flex;
    gap: 48px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
    padding: 100px;
}

.left-one {
    display: flex;
    flex-direction: column;

}